.desktop {
  display: block;
}

#wrapper {
  flex-direction: row;
}

#footerNav {
  order: -1;
}

#footerNav ul {
  flex-direction: column;
}

#footerNav li a {
  text-align: right;
}

#content, #secondScreen {
  width: 0;
  flex-grow: 1;
  overflow-y: auto;
}

#content {
  border-right: 1px solid #CCC;
}

#secondScreen {
  background: #EEE;
}

#navigation {
  order: 0;
  flex-direction: column;
  display: block;
  text-align: right;
}

#navigation a {
  text-align: right;
}

.mobile {
  display: none !important;
}
