* {
  box-sizing: border-box;
  font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

html {
  font-size: 10px;
}

html, body, #body {
  height: 100%;
}

body {
  margin: 0;
  color: #474747;
  background: #F4F4F4;
}

body, input, a, textarea, button {
  line-height: 2.0rem;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

input[type=text],
input[type=number],
input[type=search],
input[type=email],
input[type=password],
input[type=submit],
input[type=button],
textarea,
.btn,
button {
  width: 100%;
  display: block;
  border: 0;
  border: 1px solid #CCC;
  background: #FFF;
  text-decoration: none;
  outline: 0;
  line-height: 2.0rem;
  padding: 0 1rem;
  border-radius: 0;
}

input[type=button].sidebtn {
  flex-shrink: 1;
  padding: 0;
}

textarea {
  padding-top: 1rem;
}

label {
  display: block;
  line-height: 2.5rem;
}

select {
  padding: .5rem;
  width: 100%;
  margin-left: 1.5rem;
}

input[type=button], button, .btn, input[type=submit] {
  padding: 1rem;
  display: block;
  font-style: italic;
  background: #00caf2;
  color: white;
  border-radius: 2em;
  border: 0;
}

input[type=submit]:active, .btn:active {
  background: white;
  color: #00caf2;
}

input[disabled]:active {
  color: white;
}

textarea {
  height: 11rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h5 {
  font-weight: normal;
}

/* COMMON STYLE START */
.tabbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabbar > * {
  flex-grow: 1;
  text-align: center;
  color: #999;
  display: block;
  padding: 1rem;
}

.tabbar > *:hover, .tabbar > *:active {
  color: rgba(153, 153, 153, .5);
}
/* COMMON STYLE END */

/* GLOBAL NAV START */
#footerNav {
  background: #000;
  display: block;
  flex-shrink: 0;
}

#footerNav li a {
  flex-grow: 1;
  display: block;
  line-height: 2rem;
  padding: 1rem;
  text-align: center;
}

#footerNav li a:active {
  background: #00caf2;
  color: white;
}

[data-region="dashboard"] #navigation .dashboardLink,
[data-region="search"] #navigation .searchLink,
[data-region="create"] #navigation .createLink,
[data-region="profile"] #navigation .profileLink {
  color: #666;
}
/* GLOBAL NAV END */

/* DASHBOARD START */
.dashboard, .bugPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

[data-section="assigned"] .assigned,
[data-section="flags"] .flags,
[data-section="flagged"] .flagged,
[data-section="filed"] .filed {
  border-bottom: .3rem solid #00AACC;
  color: #00AACC;
}

.dashboard ul a {
  display: block;
  padding: 1.5rem;
  border-bottom: 1px solid #DDD;
}

.dashboard ul a:last-child {
  border-bottom: 0;
}

.dashboard ul a:active,
.dashboard ul a:hover {
  background-color: #b1f1ff;
}

#dashboard, .bugWrapper {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bugWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

#bugsWrapper h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 1rem 1.5rem 0 1.5rem;
  font-size: 1.2rem;
  color: #00AACC;
}

/* DASHBOARD END */

/* BUG PAGE START */
#bugNav[data-section="details"] .detailsLink,
#bugNav[data-section="attachments"] .attachLink,
#bugNav[data-section="comments"] .commentsLink {
   border-bottom: .3rem solid #00AACC;
  color: #00AACC;
}

#take {
  width: 10rem;
  border-radius: 0 1rem 1rem 0;
}

#assigned {
  border-right: 0;
}

#bugContent {
  flex-grow: 1;
}

.attachmentView {
  margin-top: 1rem;
  border-top: .1rem solid #CCC;
}
.attachmentView li {
  padding: 1rem;
  border-bottom: .1rem solid #CCC;
}

.attachmentView a {
  color: #00AACC;
}

/* BUG PAGE END */

.btn {
  text-align: center;
}

.headerBtn {
  width: 4rem;
  line-height: 5rem;
  background-repeat: no-repeat;
  background-size: 3.2rem;
  background-position: left center;
  outline: none;
}

.headerBtn:active {
  opacity: .5;
  background-color: transparent;
}

.loginScreen .headerBtn {
  width: 2rem;
}

.logout, .login {
  text-align: right;
}

.logout:active, .login:active {
  opacity: .5;
}

/* Fun hack to get rid of the text moving when the border-bottom is
   applied on focus */
input[type=text], input[type=password], input[type=email], input[type=number] {
  height: 4rem;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus {
  padding-top: .2rem;
}

form {
  margin: 2rem 1.5rem 0 1.5rem;
}

input, textarea, select, .btn {
  margin-bottom: 2rem;
}

input:focus, textarea:focus {
 border-bottom: .3rem solid #00caf2;
}

::-moz-placeholder {
  font-style: italic;
  color: #909ca7;
  opacity: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  line-height: 5rem;
  background: #9ab0c0;
  color: white;
}

header a {
  color: white;
  font-style: italic;
}

/* Main Layout*/
.title {
 padding: 1rem;
}

.details {
 padding: 0 .5rem;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
  overflow-y: auto;
}

.details, .header, .row {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.bugs a {
  display: block;
  padding:  1rem 1.5rem;
  text-decoration: none;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}
.bugs a:hover {
  background: #DDD;
}

.comments {
  list-style-type: none;
}

.comments div span {
  color: #999;
}

.comments p {
  white-space: pre-wrap;
}

li.comment {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  margin: 0 1rem;
  padding: 1rem 0;
}

li.comment + li.comment {
  border-top: 0;
}

li.comment .header {
  margin-bottom: 1rem;
}

.bugs {
  min-height: 2rem;
}

.loading {
  min-height: 8rem;
  background: url(/style/icons/loading.png) no-repeat center;
  animation: 0.9s rotate infinite steps(30);
  width: 4rem;
  margin: 0 auto;
}

header h2 {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  flex-grow: 1;
}

.home h2 a {
  display: block;
  margin: 1rem;
  background: #E0E0E0;
  padding: .5rem;
  text-decoration: none;
  color: #333;
  border-radius: .5rem;
  font-weight: normal;
  border: 1px solid #CCC;
  text-indent: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
  cursor: pointer;
}

.bugheader {
  color: #BBB;
}

.dashboard .btn {
  margin: 1rem;
  width: calc(100% - 2rem);
}

.home .search a {
  background-image: url(/style/icons/noun_15028.svg);
}

.home .file a {
  background-image: url(/style/icons/noun_9529.svg);
  background-size: 1em;
  background-position: .5rem center;
}

.home .install a {
  background-image: url(/style/icons/noun_4240.svg);
  background-size: 1.2em;
  background-position: .5rem center;
}

.home .dashboardlink a {
  background-image: url(/style/icons/noun_11757.svg);
  background-size: 1.2em;
  background-position: .5rem center;
}

.warning {
  background: #B90000;
}

.loginError, .createBugError {
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

em {
  font-weight: bold;
}

[hidden], .hidden {
  display: none !important;
}

.attachments:empty {
  border: none;
  padding: 0;
}

.attachments {
  margin: 0 0 2.5rem 0;
  padding: .5rem 0;
  border-bottom: 1px solid #DDD;
}

.attachments li {
  display: flex;
  line-height: 4rem;
  flex-direction: row;
}

.attachments li:last-child {
  border-bottom: 0;
}

.attachments li .name {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  white-space: nowrap;
  color: #AAA;
  font-style: italic;
}

.attachments li .size {
  display: block;
  width: 7.5rem;
  overflow: hidden;
  color: #AAA;
  text-align: right;
  white-space: nowrap;
}

.deleteAttachment {
  display: block;
  background: url(/style/icons/remove.png) no-repeat;
  background-size: 2.4rem;
  background-position: center right;
  flex-shrink: 0;
  width: 2.8rem;
  height: 4rem;
}

.attachments li span.previewLink {
  color: #00AACC;
  cursor: pointer;
}

.deleteAttachment:hover {
  opacity: .75;
}

.preview {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bugDetails {
  padding: 0 1.5rem;
}

.bugDetails ul {
  margin-bottom: .5rem;
}

.bugDetails li {
  padding: .2rem 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #DDD;
}
.bugDetails li:last-child {
  border: 0;
}

.bugDetails li label, .bugDetails li span {
  flex-grow: 1;
}

.bugDetails li span {
  text-align: right;
}

.dependson a {
  float: right;
  padding: .2rem;
}

.attachBtn {
  display: block;
  border: 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2rem;
  height: 5.2rem;
  line-height: 5.2rem;
  color: #00AACC;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.close {
  background-image: url(icons/close.png);
}

.add {
  background-image: url(icons/add.png);
}

.profile {
  background-image: url(icons/user.png);
}

.back {
  background-image: url(icons/back.png);
}

.right {
  background-position: right center;
}

.attach {
  background-image: url(icons/attach.png);
}

.btn-file {
  position: relative;
  overflow: hidden;
  font-style: italic;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
  margin: 1rem 0;
  height: 3.2rem;
  z-index: 1;
}

.btn-file:active span {
  opacity: .5;
}

input[disabled] {
  opacity: .5;
}

input[type=submit][disabled], input[type=button][disabled] {
  background: #CCC;
}

.dialog, .alert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(202, 202, 202, .9);
  z-index: 100;
}

.toast {
  position: fixed;
  margin-bottom: 1rem;
  text-align: center;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  background: #FFF;
  font-weight: 200;
  font-style: italic;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
  color: #00AACC;
  padding: 16px;
  transform: translateY(calc(100% + 1rem));
  transition: transform .2s, opacity .5s;
}

.toast.shown {
  transform: translateY(0%);
}

.toast.fade {
  opacity: 0;
}

.dialog > div {
  width: calc(100% - 3rem);
  margin: 0 auto;
  overflow: hidden;
  font-style: italic;
  background: #F9F9F9;
}

.notice > div {
  padding-bottom: 6rem;
}

.dialog span {
  display: block;
  color: #666;
  padding: 3.65rem 2rem;
  background: #EFEFEF;
}

.dialog button {
  display: block;
  width: 100%;
  color: #00caf2;
  border: 0;
  line-height: 3rem;
  border-top: 1px solid #CCC;
  background: white;
}

.dialog button:active {
  background: #00caf2;
  color: white;
}

.progress {
  min-width: 300%;
  height: .4rem;
  background: repeating-linear-gradient(135deg,
                                        #00caf2 0px,
                                        #00caf2 11%,
                                        #b2f2ff 11%,
                                        #b2f2ff 22%,
                                        #a6a6a6 22%,
                                        #a6a6a6 33%);
  animation: moving-backward 1500ms infinite linear;
}

#description {
  margin-bottom: 2.5rem;
}

#login .row input:first-child {
  margin-right: 1rem;
}
#login .row input:last-child {
  margin-left: 1rem;
}

.emptyNotice {
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: #CCC;
}

.profileContent {
  padding: 1.5rem;
}

.profileContent a.warning {
  margin-top: 1.5rem;
}

.desktop {
  display: none;
}

#intro span {
  padding-top: 1rem;
  background: none;
}

#intro h2 {
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
  color: #858585;
  padding: 6rem 0 1rem 0;
  margin: 0 2rem;
  background-color: none;
  background-image: url(/style/icons/info.png);
  background-repeat: no-repeat;
  background-position: center 2.2rem;
  background-size: 3.4rem;
  border-bottom: .1rem solid #DDD;
}

#intro-submit {
  border-radius: 0;
}

#search {
  display: flex;
  flex-direction: row;
  margin: 2rem 1.5rem 0 1.5rem;
}

#search a {
  color: #00AACC;
  padding: .7rem 0 .7rem 1.5rem;
  font-style: italic;
}

#search a:active {
  opacity: .5;
  background: transparent;
}

#search input {
  flex-shrink: 1;
}

#search .close {
  flex-grow: 1;
}

#searchLink {
  display: block;
  background: white;
}

#searchLink div {
  padding: 0.5rem 1.5rem;
  color: black;
  background-image: url(/style/icons/noun_15028.svg);
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  background-size: 2em;
  opacity: .3;
}

#pickAttachments {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #F4F4F4;
  z-index: 100;
}

#pickAttachmentsForm p {
  margin-bottom: 1.5rem;
}

#pickAttachmentsForm label span {
  display: block;
  padding: .7rem 0;
  width: 100%;
  border-top: 1px solid #DDD;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 2rem;
}

#attachments {
  border-bottom: 1px solid #DDD;
}

#pickAttachmentsForm label:last-child span {
  border-bottom: 0;
}

#pickAttachmentsForm label input[type=checkbox] {
  display: none;
}

#pickAttachmentsForm input[type=checkbox]:checked + span {
  background-image: url(/style/icons/checked.png);
}

#pickAttachmentsForm input[type=submit] {
  margin-top: 1.5rem;
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}

@keyframes moving-backward {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33%); }
}

.search {
  border: .1rem solid #CCC;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 1;
  width: 100%;
}

input[type=search] {
  line-height: 4rem;
  border: 0;
  padding: 0 1.5rem;
  margin: 0;
  background-image: url(/style/icons/noun_15028.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
  text-indent: 1.2rem;
}

.focus {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: .3rem;
  background: #00caf2;
  visibility: hidden;
}

input[type=search]:focus + .focus {
  visibility: visible;
}

.bugzillaAuth {
  text-align: center;
}

.progressWrapper {
  position: absolute;
  height: .4rem;
  width: 100%;
}

#navigation {
  background: #9ab0c0;
}

#navigation a,
#navigation span {
  color: white;
}

.bugDetail, .bugDetail a {
   font-size: 1.2rem;
}

.bugDetail {
  margin: .3rem 1rem;
  color: #999;
}

div.input {
  position: relative;
}

#needinfos input {
  margin-right: 1rem;
}